*{
    margin: 0px;
}
header{
    background-color: white;
    padding: 0px 10px;
    height: 40px;
    align-content: center;

}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-left: 10px;
    padding-bottom: 30px;
}
.bu{
    right: auto;
}
.roundb{
    border-radius: 20px;
width:fit-content;
margin: 40px auto 10px 10px;
padding: 5px 20px;
color:rgb(2, 223, 223);
background-color:white;
box-shadow: 1px 1px 10px rgba(178, 178, 178, 0.274);
}
div{
    background-color: lavenderblush;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;

}
